*{
    font-family: "Times New Roman", sans-serif;
    background-color:darkolivegreen;
    color: honeydew;
}

h1{
    text-align: center;
    color:ghostwhite;
}

img{
    width: 100vw;
    height: auto;
}

p, li{
    font-size: 20px;
}

h2{
    font-weight: bold;
    font-style: italic;
}